<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img2/hall/_0015_shangtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,135},{3,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,36}</string>
			</dict>
			<key>img2/hall/_0000_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,88},{318,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,83}</string>
			</dict>
			<key>img2/hall/_0001_laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,822},{50,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img2/hall/_0002_tiuao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1159,88},{1036,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1036,31}</string>
			</dict>
			<key>img2/hall/_0003_qidai.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,591},{94,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,96}</string>
			</dict>
			<key>img2/hall/_0004_huodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,575},{319,261}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,270}</string>
			</dict>
			<key>img2/hall/_0005_huodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1},{245,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,367}</string>
			</dict>
			<key>img2/hall/_0006_douniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,690},{281,223}}</string>
				<key>offset</key>
				<string>{29,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,270}</string>
			</dict>
			<key>img2/hall/_0007_niuniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,88},{244,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,367}</string>
			</dict>
			<key>img2/hall/_0008_dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,838},{234,249}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,276}</string>
			</dict>
			<key>img2/hall/_0008_dizhupo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,576},{265,244}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,270}</string>
			</dict>
			<key>img2/hall/_0009_bishai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,88},{245,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,367}</string>
			</dict>
			<key>img2/hall/_0010_dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,822},{247,252}}</string>
				<key>offset</key>
				<string>{-10,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,270}</string>
			</dict>
			<key>img2/hall/_0011_doudizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1},{245,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,367}</string>
			</dict>
			<key>img2/hall/_0012_paihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,575},{57,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,55}</string>
			</dict>
			<key>img2/hall/_0013_setting_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,634},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>img2/hall/_0014_youjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,754},{60,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,51}</string>
			</dict>
			<key>img2/hall/_0016_honglanka-.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,331},{53,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,29}</string>
			</dict>
			<key>img2/hall/_0016_yue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,1},{40,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,25}</string>
			</dict>
			<key>img2/hall/_0016_zhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,43},{40,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,25}</string>
			</dict>
			<key>img2/hall/_0017_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,743},{78,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>img2/hall/_0018_zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,1060},{58,47}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,60}</string>
			</dict>
			<key>img2/hall/_0019_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,944},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>img2/hall/_0020_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,693},{59,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,52}</string>
			</dict>
			<key>img2/hall/_0021_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,1006},{55,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,52}</string>
			</dict>
			<key>img2/hall/_0032_wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,85},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>img2/hall/_0033_hongdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{2020,115},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>img2/hall/_0034_hongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,467},{122,76}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img2/hall/_0035_beibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,817},{126,67}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img2/hall/_0036_huofong.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,687},{128,67}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img2/hall/_0037_duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,826},{116,61}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,63}</string>
			</dict>
			<key>img2/hall/_0038_renwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,945},{129,64}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img2/hall/_0039_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,331},{134,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,80}</string>
			</dict>
			<key>img2/hall/_0040_shang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1280,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,85}</string>
			</dict>
			<key>img2/hall/_0041_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,88},{1276,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1280,62}</string>
			</dict>
			<key>img2/hall/btn_happy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,334},{239,356}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,357}</string>
			</dict>
			<key>img2/hall/btn_happy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,335},{239,356}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,357}</string>
			</dict>
			<key>img2/hall/btn_happy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,88},{241,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{241,357}</string>
			</dict>
			<key>img2/hall/btn_happy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,331},{240,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,357}</string>
			</dict>
			<key>img2/hall/hb.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,822},{45,50}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>img2/hall/jlsm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,687},{137,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,44}</string>
			</dict>
			<key>img2/hall/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,386},{28,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,35}</string>
			</dict>
			<key>img2/hall/bbb.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,661},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>img2/hall/zhuangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,576},{83,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,88}</string>
			</dict>
			<key>img2/hall/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2040,115},{4,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,37}</string>
			</dict>
			<key>img2/hall/quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,816},{64,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall.png</string>
			<key>realTextureFileName</key>
			<string>hall.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>