<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img2/GameScene/pai/10e.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,627},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/10o.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,475},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/11e.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,783},{39,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/11o.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,741},{38,54}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/2e.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,840},{39,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/2o.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,783},{38,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/3e.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,743},{41,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/3o.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,683},{40,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/4e.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,844},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/4o.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,686},{45,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/5e.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,844},{41,55}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/5o.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,840},{38,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/6e.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,626},{39,56}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/6o.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,786},{41,56}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/7e.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,897},{39,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/7o.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,626},{41,55}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/8e.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,741},{40,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/8o.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,683},{40,56}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/9e.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,582},{42,56}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/9o.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,844},{45,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/ae.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,845},{53,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/ao.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,788},{53,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/b.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,896},{41,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>img2/GameScene/pai/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,781},{41,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>img2/GameScene/pai/db.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{170,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,235}</string>
			</dict>
			<key>img2/GameScene/pai/dw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,693},{95,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,103}</string>
			</dict>
			<key>img2/GameScene/pai/dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,238},{170,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,235}</string>
			</dict>
			<key>img2/GameScene/pai/dzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,627},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>
			<key>img2/GameScene/pai/e.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,586},{39,112}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,112}</string>
			</dict>
			<key>img2/GameScene/pai/fj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,903},{93,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,102}</string>
			</dict>
			<key>img2/GameScene/pai/ht.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,475},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/GameScene/pai/je.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,946},{39,190}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,200}</string>
			</dict>
			<key>img2/GameScene/pai/jo.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,903},{41,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,200}</string>
			</dict>
			<key>img2/GameScene/pai/ke.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,788},{53,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/ko.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,475},{54,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/mh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,586},{102,105}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/GameScene/pai/o.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,946},{41,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,112}</string>
			</dict>
			<key>img2/GameScene/pai/ot.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,693},{93,84}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/GameScene/pai/ps.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,987},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,39}</string>
			</dict>
			<key>img2/GameScene/pai/qe.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,534},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/qo.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,532},{48,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/GameScene/pai/xw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,798},{95,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,103}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pai.png</string>
			<key>realTextureFileName</key>
			<string>pai.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>