<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img2/shop/_0001_store.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,331},{268,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,191}</string>
			</dict>
			<key>img2/shop/_0002_anniucao.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,828},{74,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,66}</string>
			</dict>
			<key>img2/shop/_0003_anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,589},{237,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,68}</string>
			</dict>
			<key>img2/shop/_0003_yueka.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,828},{59,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,29}</string>
			</dict>
			<key>img2/shop/_0004_daoju.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,889},{59,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,29}</string>
			</dict>
			<key>img2/shop/_0004_dengguangtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,1},{138,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,1}</string>
			</dict>
			<key>img2/shop/_0005_dengguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,524},{234,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,184}</string>
			</dict>
			<key>img2/shop/_0005_zuanshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,524},{63,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,29}</string>
			</dict>
			<key>img2/shop/_0006_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,331},{227,275}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,277}</string>
			</dict>
			<key>img2/shop/_0006_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,961},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>img2/shop/_0007_cao.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,904},{74,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,66}</string>
			</dict>
			<key>img2/shop/_0008_dadi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,331},{640,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,360}</string>
			</dict>
			<key>img2/shop/_0008_jinbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,331},{73,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,41}</string>
			</dict>
			<key>img2/shop/_0009_daoju1.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,406},{73,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,41}</string>
			</dict>
			<key>img2/shop/_0010_yueka1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,504},{72,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,42}</string>
			</dict>
			<key>img2/shop/_0011_zuanshi-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,428},{74,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,41}</string>
			</dict>
			<key>img2/shop/_0036_shanglan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1000,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1000,328}</string>
			</dict>
			<key>img2/shop/fk.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,481},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>img2/shop/fw.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,895},{64,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,36}</string>
			</dict>
			<key>img2/shop/hk.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,972},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>img2/shop/jd.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,897},{65,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,37}</string>
			</dict>
			<key>img2/shop/jpqqt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,973},{162,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,33}</string>
			</dict>
			<key>img2/shop/jpqyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,973},{162,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,33}</string>
			</dict>
			<key>img2/shop/lk.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,828},{67,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,36}</string>
			</dict>
			<key>img2/shop/mgh.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,828},{65,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,36}</string>
			</dict>
			<key>img2/shop/tyk.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,331},{95,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,35}</string>
			</dict>
			<key>img2/shop/w.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,828},{36,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,34}</string>
			</dict>
			<key>img2/shop/xhs.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,973},{95,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,36}</string>
			</dict>
			<key>img2/shop/z.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,550},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shop.png</string>
			<key>realTextureFileName</key>
			<string>shop.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>