<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img2/GameScene/buttons/black.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1},{168,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/box.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,1},{77,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,92}</string>
			</dict>
			<key>img2/GameScene/buttons/buchu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,220},{85,41}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/buchub_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,247},{85,41}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/bujiao_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,263},{85,41}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/bumingpai_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,95},{123,44}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/buqiang_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,159},{85,42}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/chupai_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,82},{86,44}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/chupaib_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,82},{86,44}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/fangxia_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,201},{85,42}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/fangxiab_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,203},{85,42}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/green.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1},{168,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/jiaodizhu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,82},{121,44}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/mingpai_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,115},{86,44}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/qiangdizhu_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,69},{122,44}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/quxiaodaida.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{210,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,140}</string>
			</dict>
			<key>img2/GameScene/buttons/record_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{160,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,66}</string>
			</dict>
			<key>img2/GameScene/buttons/record_card1.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1},{156,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,59}</string>
			</dict>
			<key>img2/GameScene/buttons/record_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,95},{51,29}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,35}</string>
			</dict>
			<key>img2/GameScene/buttons/red.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{168,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/tishi_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,115},{84,44}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/tishib_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,161},{84,44}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/yaobuqi_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,82},{122,44}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
			<key>img2/GameScene/buttons/yaobuqib_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,82},{122,44}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buttons.png</string>
			<key>realTextureFileName</key>
			<string>buttons.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>